<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h1>Sehpaathi, you friend in PEC</h1>
        <form action="/" method="POST">
            <input type="text" name="query" />
            <input type="submit" />
        </form>
        <div class="chat">
            {% if CHAT_HISTORY %}
            <ul>
                {% for text in CHAT_HISTORY %}
                <li>{{text}}</li>
                {% endfor %}
            </ul>
            {% else %}
            <p>no response Yet!</p>
            {%endif%}
        </div>
    </body>
</html>
