<!DOCTYPE html>
<html lang="en">
    <html>
        <head>
            <title>Sign Up</title>
            <meta
                name="viewport"
                content="width=device-width, initial-scale=1.0"
            />
            <meta charset="utf-8" />
            <link
                rel="stylesheet"
                type="text/css"
                href="../static/signup_style.css"
            />
            <link
                rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
            />
            <link
                href="https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600"
                rel="stylesheet"
                type="text/css"
            />
            <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
            <link
                rel="stylesheet"
                href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
                integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
                crossorigin="anonymous"
            />
        </head>

        <body class="body">
            <div class="login-page">
                <div class="form">
                    <form action="/signup" method="POST">
                        <lottie-player
                            src="https://assets4.lottiefiles.com/datafiles/XRVoUu3IX4sGWtiC3MPpFnJvZNq7lVWDCa8LSqgS/profile.json"
                            background="transparent"
                            speed="1"
                            style="justify-content: center"
                            loop
                            autoplay
                        ></lottie-player>
                        <input
                            type="text"
                            name="firstname"
                            placeholder="First name"
                            required
                        />
                        <input
                            type="text"
                            name="lastname"
                            placeholder="Last Name"
                            required
                        />
                        <input
                            type="email"
                            name="email"
                            placeholder="Enter email"
                            required
                        />
                        <input
                            type="number"
                            name="age"
                            placeholder="Enter age"
                            required
                        />
                        <input
                            type="text"
                            name="bio"
                            placeholder="Enter bio"
                            required
                        />
                        <input
                            type="text"
                            name="Course"
                            placeholder="Enter your course"
                            required
                        />
                        <br />
                        <br />
                        <input
                            type="submit"
                            id="submit"
                            onclick="window.location.href='login.html'"
                        />
                    </form>
                </div>
            </div>
        </body>
    </html>
</html>
